

li {
    color: green;
}


p.tblHeader {
	text-align: center;
	font-weight: bold;
}

body {
	background-color: #EEE
}
header,
nav,
section {
	margin: .5% .5% .5% .5%;
 	border-radius: 6px;
	background-color: white;
	font-family: Helvetica, serif;
}

header {
	float: top;
}

nav {
	float: left;
	width: 12%;
	list-style: none;
	padding: .5%;
	display: inline-block;
}

nav > li > a {
	display: block;
  	color: black;
  	text-decoration: none;
  	font-size: 12px;
  	padding: 5%;
  	padding-left: 10%;
}

nav > li:hover > a {
	background: #D9D9D9;
	color:black
}

main {
	float: left;
	display: inline-block;
	width: 85.25%;
}

section {
	float: left;
	display: inline-block;
}

section.halfBox {
	width: 49%;
}

section.fullBox {
	width: 99%;
}

label {
	display: inline-block;
    float: left;
    clear: left;
    width: 150px;
	text-align: left;
	font-weight: bold;
	font-size: 12px;
	padding-right: 25px;
	padding-left: 20px;
	
}

input.mediumBox {
	display: inline-block;
	width: 55%;
}

input.smallBox {
	display: inline-block;
	width: 20%;
}

div.formItem {
	padding: 5px;
}

div.formButtons {
	padding: 15px;
}

h2 {
	background-color: #29B8E2;
	margin: 5px;
	height: 25px;
	border-radius: 6px;	
	padding-left: 10px;
	padding-top: 10px;
	color: white;
	font-size: 14px;
}

h3 {
	margin: 5px;
	height: 25px;
	padding-left: 1%;
	padding-top: 10px;
	color: black;
	font-size: 14px;
}

table.dbTable {
	width: 100%;
	padding: 1px;
	border-radius: 6px;
	font-family: Helvetica;
	font-size: 12px;
	background-color: white;
}

tr.noTransaction {
	text-align: center;
	height: 35px;
}

form.form {
	padding-top: 10px;
}

button.proceed {
	background-color: #f0b433;
    border-radius: 6px;
    color: white;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    padding: 7px 10px 6px;
    position: relative;
    text-align: center;
    top: 0;
    transition: all 120ms ease-in 0s;
    cursor: pointer;
    -moz-user-select: none;
	min-width: 80px;
	border: 0;
}

button.cancel {
	background-color: #EEE;
    border-radius: 6px;	
    color: black;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    padding: 7px 10px 6px;
    position: relative;
    text-align: center;
    top: 0;
    transition: all 120ms ease-in 0s;
    cursor: pointer;
    -moz-user-select: none;
	min-width: 80px;
	border: 0;
}

button.proceed:hover, button.cancel:hover {
	top: 2px;
	box-shadow: 0 0 2px 0 #d6ab1c
}

/* Dropdown Content (Hidden by Default) */
.user-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.moduleDropdown {
	background: transparent none repeat scroll 0 0;
    border: medium none;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    width: 268px;
    line-height: 1.15;
    margin: 0;
    color: #FFF;
}

.user-icon {
	cursor: pointer;
	padding-left:10px; 
	width: 40px; 
	vertical-align: middle;
}

.inputFile {
	background-color: #EEE;
    border-radius: 6px;	
    color: black;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    padding: 7px 10px 6px;
    position: relative;
    text-align: center;
    top: 0;
    transition: all 120ms ease-in 0s;
    cursor: pointer;
    -moz-user-select: none;
	width: 250px;
	border: 0;	
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
    outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}